body
{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 16rem 1fr 16rem;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header header"
        "side main side2";
    min-height: 100vh;

    margin: 10px;

    border-style: groove;

    font-family: 'Times New Roman', Times, serif;
}

.headerContainer
{
    grid-area: header;
    padding-top: 30px; 
    text-align: center;

    border-style: inherit;
}

.sideContainer
{
    grid-area: side;
    padding-left: 50px;
    padding-bottom: 30px;
    
    border-style: inherit;
}

.mainContainer
{
    grid-area: main;
    text-align: center;

    border-style: inherit;
}

.sideContainer2
{
    grid-area: side2;
    text-align: center;

    border-style: inherit;
}

.imageColumn
{
    float: left;
    width: 50%;
    height: auto;
}

img
{
    max-width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

article
{
    padding-bottom: 20px
}

p
{
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 17px;
}

ul
{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px; 
}

address
{
    margin-top: 7px;
    font-size: 17px;
}

@media (max-width: 1400px) { /* two images per row -> one image per row*/
    .imageColumn{
        float: none;
        width: 100%;
    }
}

@media (max-width: 1200px) { /* layout change for smaller screens */
    body{
        display: flex;
        flex-direction: column;
    }

    .sideContainer{
        padding: 0;
        text-align: center;
    }

    #links{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mainContainer{
        flex-grow: 1; 
        text-align: center;
    }

    h2{ /* remove links header */
        display: none;
    }

    a{ /* adding padding to links */
        padding-right: 4px;
    }

    .sideContainer br{ /* remove linebreaks from links */
        display: none;
    }

    .sideContainer2:empty{ /* if sidecontainer2 empty -> hide it's border*/
        border: none;
    }
}