body
{
    background-color: aliceblue;
    display: block;
    text-align: center;
}

.headerContainer
{
    padding-top: 30px; 
}

.sideContainer
{
    padding-bottom: 30px;
}

/*.mainContainer
{

}*/

article
{
    padding-bottom: 20px
}

p
{
    margin-top: 7px;
    margin-bottom: 7px;
}